.button {
  white-space: nowrap;
  color: var(--gray_50);
  border: none;
  border-radius: var(--fs-16);
}

.active {
  cursor: pointer;
}

.inactive {
  background-color: var(--gray-200);
  cursor: not-allowed;
}

.primary {
  background-color: var(--primary-500);
}

.secondary {
  background-color: var(--color-white);
}

.tertiary {
  background-color: var(--primary-100);
  color: var(--gray-950);
}

.ghost {
  background-color: rgba(107, 114, 128, 0.6);
  color: var(--gray-600);
}

.filterWhite {
  background-color: #d8d8d8;
  color: var(--gray-950);
  border: 0.1rem solid var(--color-white);
  border-radius: 10rem;
}

.filterBlack {
  background-color: #333333;
  color: var(--color-white);
  border-radius: 10rem;
}

.icon {
  margin-right: 0.6rem;
}
