.introImageSectionTitle {
  margin-top: 3rem;
  font-size: var(--fs-16);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.introImageAdd {
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--gray-100);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusIcon {
  width: 5rem;
  height: 5rem;
  color: var(--gray-400);
}

@media (min-width: 768px) {
  .introImageAdd {
    width: 12.6rem;
    height: 12.6rem;
    border-radius: 1.6rem;
  }

  .plusIcon {
    width: 8rem;
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .introImageAdd {
    width: 12.8rem;
    height: 12.8rem;
  }
}
