.contents {
  display: flex;
  width: 32.7rem;
  margin: 0 auto;
}

.headerText {
  width: 18.1rem;
}

.title {
  color: var(--gray-950);
  font-weight: var(--font-weight-bold);
  font-size: var(--fs-18);
  margin-bottom: 1rem;
}

.subTitle {
  color: var(--gray-500);
  font-size: var(--fs-14);
  margin-bottom: 2rem;
}

.button {
  width: 13.8rem;
  height: 4.8rem;
  background-color: var(--primary-500);
  color: var(--color-white);
  border-radius: 1.4rem;
}

@media (min-width: 768px) {
  .contents {
    width: 47.6rem;
    margin: 0;
    justify-content: space-between;
  }

  .headerText {
    width: 26rem;
  }

  .br {
    display: none;
  }

  .button {
    width: 13.8rem;
    height: 4.8rem;
    background-color: var(--primary-500);
    color: var(--color-white);
    border-radius: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .contents {
    width: 64rem;
  }

  .headerText {
    width: 40rem;
  }
}
