/* Font Size Utility */
.u-fs-11 { font-size: var(--fs-11); }
.u-fs-12 { font-size: var(--fs-12); }
.u-fs-13 { font-size: var(--fs-13); }
.u-fs-14 { font-size: var(--fs-14); }
.u-fs-16 { font-size: var(--fs-16); }
.u-fs-18 { font-size: var(--fs-18); }
.u-fs-20 { font-size: var(--fs-20); }
.u-fs-24 { font-size: var(--fs-24); }
.u-fs-32 { font-size: var(--fs-32); }

/* Font Weight Utility */
.u-fw-medium { font-weight: var(--font-weight-medium); }
.u-fw-bold { font-weight: var(--font-weight-bold); }
