/* Semantic Typography Classes */
.text-body {
    font-size: var(--fs-14);
    font-weight: var(--font-weight-medium);
    line-height: var(--lh-body-small);
  }
  
  .text-body-lg {
    font-size: var(--fs-16);
    font-weight: var(--font-weight-medium);
    line-height: var(--lh-body-small);
  }
  
  .text-heading-sm {
    font-size: var(--fs-18);
    font-weight: var(--font-weight-bold);
    line-height: var(--lh-body-large);
  }
  
  .text-heading-md {
    font-size: var(--fs-20);
    font-weight: var(--font-weight-bold);
    line-height: var(--lh-body-medium);
  }
  