@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --font-family: 'Pretendard', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font Sizes */
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-24: 2.4rem;
  --fs-32: 3.2rem;

  /* Line Heights */
  --lh-body-small: 1.8rem;
  --lh-body-medium: 2.4rem;
  --lh-body-large: 2.8rem;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-primary: var(--color-black);
  --color-bg: var(--color-white);

  --gray-25:  #f8f8f8;
  --gray-50:  #edeef2;
  --gray-100: #e0e0e5;
  --gray-200: #c6c8cf;
  --gray-300: #b3b4bc;
  --gray-400: #9fa0a7;
  --gray-500: #84858c;
  --gray-600: #707177;
  --gray-700: #5d5d61;
  --gray-800: #49494c;
  --gray-900: #323236;
  --gray-950: #1f1f22;

  --primary-100: #e5f3ff;
  --primary-500: #3d9ef2;

  --alert-error: #ff2727;
}
