.myExperiences {
  width: 32.7rem;
  display: flex;
  gap: 3rem;
  margin: 3rem auto 0;
}

.sideNavigation {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}

.emptyState {
  width: 24.6rem;
  height: 20.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.emptyStateImageWrapper {
  width: 18.2rem;
  height: 18.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.emptyStateImage {
  width: 12.2rem;
  height: 12.2rem;
}

.emptyStateText {
  display: flex;
  justify-content: center;
  width: 24.6rem;
  height: 2.1rem;
  font-size: var(--fs-18);
  color: var(--gray-600);
}

@media (min-width: 768px) {
  .myExperiences {
    width: 68.4rem;
    margin: 0 auto;
    margin-top: 4rem;
    gap: 4rem;
  }

  .sideNavigation {
    display: block;
  }
}

@media (min-width: 1024px) {
  .myExperiences {
    width: 98rem;
    gap: 5rem;
  }

  .card {
    gap: 2.4rem;
  }
}
