.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inputWrapper {
  max-width: 64rem;
  width: 100%;
  margin-bottom: 2rem;
}

.signupLogo {
  margin-bottom: 6.2rem;
}

.signupDivider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 64rem;
}

.signupDivider::before,
.signupDivider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--gray-100);
}

.dividerText {
  font-size: var(--fs-16);
  color: #79747e;
  margin: 0 1.4rem;
}

.signupContainer .signupButton {
  font-size: var(--fs-16);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.signupContainer .kakaoButton {
  color: var(--gray-600);
  font-size: var(--fs-16);
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.loginContainer {
  color: var(--gray-400);
  font-size: var(--fs-16);
}
.loginLink {
  text-decoration: underline;
  margin-left: 0.4rem;
}
